# TARGET database to analyze
TARGET_DB_HOST=localhost
TARGET_DB_PORT=5435
TARGET_DB_NAME=querywise_demo
TARGET_DB_USER=postgres
TARGET_DB_PASSWORD=Tanuja6129

# APP database for QueryWise metadata
APP_DB_HOST=localhost
APP_DB_PORT=5435
APP_DB_NAME=querywise_demo
APP_DB_USER=postgres
APP_DB_PASSWORD=Tanuja6129

# Slow query threshold
SLOW_QUERY_THRESHOLD_MS=500

# Frontend origin
FRONTEND_ORIGIN=http://localhost:5174